* {
    font-family: Arial, Helvetica, sans-serif;


    color: rgb(0, 41, 75);
    text-align: center;
    background-color: rgb(235, 235, 235);
}

h1 {
    width: 80%;
    background-color: rgb(201, 228, 255);
    margin: auto auto;
}

img {
    width: 300px;
}

.nav {
    background-color: rgb(189, 189, 189);
}

* {
    margin-bottom: 0.5rem !important;
}