{% extends 'layout.html' %}

{% load crispy_forms_tags %}
{% block content %}
<div class="row row-cols-1 row-cols-md-2 g-4 mx-auto" style="width: 50%;">
    <div class="card-body">
        <img src="{{ post.image.url }}" alt="" style="width: 100%;">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.author }}</p>
        <p class="card-text">{{ post.content }}</p>
        {% for category in post.category.all %}
        <a href="{% url 'bycategory' category.slug %}" class="link-primary mt-1">{{ category }}</a>
        {% endfor %}
        <div class="card-body">
            <p>Total Comments: {{ comments | length }} </p>
            {% for comment in comments %}
            <div class="border px-2 mt-2">
                <p>Name: {{ comment.name }}</p>
                <p>Email: {{ comment.email }}</p>
                <p>Comment: {{ comment.body }}</p>
            </div>
            {% endfor %}
            <form method="POST">
                {% csrf_token %}
                {{ comment_form | crispy }}
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
<hr>
{% endblock %}