.strong {
  color: blue;
  font-size: 1.5rem;
}
@keyframes kf-error {
  0%{
    transform: scale(.5);
  }
  100%{
    transform: scale(1);
  }
}

.error {
  min-width: inherit;
  max-width: max-content;
  padding: 0.25rem;
  color: rgb(74, 74, 255);
  background-color: rgb(230, 219, 255);
  font-size: .75rem;
  animation: kf-error 200ms forwards;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  /* margin: 1rem; */
}

input, select {
  padding: .5rem;
  margin: .5rem 0;
}

button {
  margin: 1rem 0rem;
  background-color: blue;
  color: white;
  font-size: 1rem;
  padding: 0.75rem;
  border: none;
}