* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

form {
  text-align: left;
}

input, select {
  width: 100%;
  margin: 5px 0;
  border: none;
  background-color: rgb(235, 235, 235);
  padding: 10px;
  outline: 1px solid transparent;
  border-radius: 1px;
  transition: outline-color 0.4s;
}

input:focus, select:focus {
  outline-color: rgb(52, 64, 175);
  background-color: white;
}

button {
  background-color: hsl(0, 0%, 98%);
  padding: 10px 25px;
  margin: 20px 0;
  border: 1.5px solid transparent;
  border-radius: 3px;
  transition: border-color 0.2s;
}

button:hover {
  border-color: rgb(112, 112, 112);
}

.message {
  display: inline-block;
  padding: 3px;
  border-radius: 5px;
}

.success {
  color: rgb(80, 165, 0);
  background-color: rgb(160, 255, 136);
}

.error {
  background-color: rgb(255, 205, 205);
  color: rgb(230, 70, 70);
}

label {
  display: inline-block;
  padding: 5px 0;
}