{% extends "filters/layout.html" %}
{% load static %}

{% block title %}{{ block.super }}Home{% endblock %}
{% block body %}
    <h1>{{ arr | join:"" }}</h1>
    <h1>{{ today }}</h1>
    <h1>{{ today | date:"D d M Y"}}</h1>
    <h1>{{ today | date}}</h1>
    <h1>{{ emptyArr | default:"empty array" }}</h1>
    <h1>{{ players | dictsortreversed:"age" | join:"<br>" }}</h1>
    <img src="{% static 'filters/img1.jpg' %}" alt="">


    <a href="{% url 'filters:test_url' name='roufujjjamn' age='28' %}">test_url</a>
{% endblock %}