{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Filters | {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'filters/styles.css' %}">
</head>
<body>
    <h1 class="nav">nav area</h1>
    {% block body %}
        <img src="{% static 'filters/img1.jpg' %}" alt="">
    {% endblock %}

    <p>{% block test_inheritance_1 %}home>{% endblock %}</p>
</body>
</html>