{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'project/style.css' %}">
    <title>
        {% block title %}
            Home
        {% endblock %}
    </title>
</head>
<body>
    <nav class="box-1">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'form' %}">Form</a>
        <a href="{% url 'file' %}">File</a>
        <a href="{% url 'users' %}">Users</a>
    </nav>

    {% block body %}
    {% endblock %}
    
</body>
</html>