<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SinglePage</title>
    <style>
        div {
            font-size: 20px;
        }
    </style>
    <script>
        function showSection(section){
            fetch(`section/${section}`)
            .then(response => response.text())
            .then(text => {
                console.log(text);
                document.querySelector("#content").innerHTML = `${section} ${text}`
            })
        }
        document.addEventListener("DOMContentLoaded", function() {
            document.querySelectorAll("button").forEach(button => {
                // const section = button.dataset.section
                button.onclick = function() {
                    const section = this.dataset.section
                    showSection(section)
                    history.pushState({"s": section}, section, `section${section}`)
                }
            })
        })
        window.onpopstate = function(event) {
            console.log(event.state.section);
            showSection(event.state.s)
        }
    </script>
</head>
<body>
    <h1>Hello,</h1>
    <button data-section="1">Section 1</button>
    <button data-section="2">Section 2</button>
    <button data-section="3">Section 3</button>
    <button data-section="4">Section 4</button>
    <button data-section="5">Section 5</button>

    <div id="content">
    </div>
</body>
</html>
