{% extends 'restaurantX/layout.html' %}
{% load static %}

{% block body %}
    <div class="cover">
        <div class="cover-text">
            <h1>we strive to create</h1>
            <h1>unforgettable dining experiences</h1>
            <p>At RestaurantX, we take pride in serving only the freshest and finest vegetables sourced directly from local farms. Our commitment to quality ensures that each dish is bursting with flavor and nutritional goodness. Experience the difference that fresh ingredients make in every bite at RestaurantX.</p>
        </div>
        <img src="{% static 'restaurantX/img/img2.jpg' %}" alt="">
    </div>
{% endblock %}