{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>restaurantX {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'restaurantX/style.css' %}">
</head>
<body>
    <nav>
        <img src="{% static 'restaurantX/img/logo.png' %}" alt="logo">
        <a href="{% url 'home' %}" class="logo">Home</a>
        <a href="{% url 'meals:home' %}">Show Items</a>
        <a href="{% url 'aboutus:home' %}">About Us</a>
    </nav>
    {% block body %}
    {% endblock %}
</body>
</html>