/* nav section */
.nav {
    background-color: antiquewhite;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.nav > * {
    display: flex;
}

.nav > * > * {
    padding: 0.5rem;
}
/* nav section */

