{% extends "layout.html" %}
{% block body %}
    <style>
        @keyframes pop {
            0% {
                scale: .5;
            }
            100% {
                scale: 1;
            }
        }
        .pop-notification {
            position: fixed;
            top: 15px; 
            left: 0;
            right: 0;
            width: 15vw;
            margin: auto;
            
            background-color: rgb(90, 236, 139);
            color: aliceblue;
            text-align: center;

            padding: 10px;
            border-radius: 25px;
            animation-name: pop;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }
    </style>
    <script>
        window.addEventListener("load", () => {
            pop-document.querySelector(".pop-notification")

        })
    </script>

    <h1>{{ user.first_name }}</h1>
    {% for message in messages %}
    <div class="pop-notification">
        <p>{{ message }}</p>
    </div>
    {% endfor %}

    <div class="form-container">
        <h1>Create Account</h1>


        <form method="POST" novalidate>
            {% csrf_token %}
            
            <!-- form 1 - UserForm -->
            {% for field in UserForm %}
                {{ field.label_tag }}
            
                {% for err in field.errors %}
                <p class="message error">{{ err }}</p>
                {% endfor %}
            
                {{ field }}
            {% endfor %}
            <br><br><br>

            <!-- form 2 - AccountsForm -->
            {% for field in AccountsForm %}
                {{ field.label_tag }}
                {% for err in field.errors %}
                <p class="message error ">{{ err }}</p>
                {% endfor %}

                {{ field }}
            {% endfor %}
            <br><br><br>

            <!-- form 3 - AddressForm -->
            {% for field in AddressForm %}
                {{ field.label_tag }}
                {% for err in field.errors %}
                <p class="message error ">{{ err }}</p>
                {% endfor %}

                {{ field }}
            {% endfor %}
            <br>
            <button>Submit</button>
        </form>
    </div>
{% endblock %}