{% extends "layout.html" %}

{% block title %}
Create Account
{% endblock %}


{% block body %}
        <form method="POST" novalidate class="form-container">
            {% csrf_token %}
            
            <!-- form 1 - UserForm -->
            {% for field in UserForm %}
                {{ field.label_tag }}
            
                
                {{ field }}

                {% for err in field.errors %}
                <p class="message error">{{ err }}</p>
                {% endfor %}
            {% endfor %}
            <br><hr><br> 

            <!-- form 2 - AccountsForm -->
            {% for field in AccountForm %}
                {{ field.label_tag }}
                
                {{ field }}

                {% for err in field.errors %}
                <p class="message error">{{ err }}</p>
                {% endfor %}
            {% endfor %}
            <br><hr><br>

            <!-- form 3 - AddressForm -->
            {% for field in AddressForm %}
                {{ field.label_tag }}
                
                {{ field }}

                {% for err in field.errors %}
                <p class="message error">{{ err }}</p>
                {% endfor %}
            {% endfor %}
            <br>
            <button>Submit</button>
        </form>
{% endblock %}