{% extends "layout.html" %}
{% block body %}
    <h1>{{ user.first_name }}</h1>
    <div style="width: 50%; margin: auto; padding: 25px;">
        <h1>Create Account</h1>
        <form method="POST" novalidate>
            {% csrf_token %}
            {% for message in messages %}
                <p class="success">{{ message }}</p>
            {% endfor %}

            {% for field in UserForm %}
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
            {% endfor %}

            <hr style="width: 100%; padding: 0; margin: 0;">

                <br><br><br><br><br><br>
                <!-- {{ UserForm }} -->
                <!-- {{ AccountsForm }} -->
            <!-- {{ AddressForm }} -->
            <button>Submit</button>
        </form>
    </div>
{% endblock %}