{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const box = document.createElement("div")
            box.className = "box"
            document.body.appendChild(box)
        })
    </script>
</head>
<body>
    <h1>Hello!</h1>
    <form>
        <input type="text" id="name" placeholder="your name">
        <button>Submit</button>
    </form>
</body>
</html>