{% extends 'layout.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-md-2 g-4 mx-auto" style="width: 50%;">
    {% for post in posts %}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.author }}</p>
                <p class="card-text">{{ post.content }}</p>
                {% for category in post.category.all %}
                <a href="{% url 'bycategory' category.slug %}" class="link-primary mt-1">{{ category }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock  %}