* {
    font-family: Arial, Helvetica, sans-serif;
}
table, tr, td {
    border: 1px solid;
}

table {
    width: max-content;
    border-collapse: collapse;
}

tr {
    line-height: 2rem;
}

.btn-delete {
    text-decoration: none;
    padding: 0.25rem;
    margin: 0.5rem;
    background-color: rgb(255, 158, 255);
    border-radius: 4px;
}


.red {
    background-color: rgb(255, 159, 159);
    color: blue;
}